<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQjWjrfEAVvcYOsdL6EL4x8pqt5U6gj5k</string>
	<key>GCM_SENDER_ID</key>
	<string>1097909567775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.antarmarg.app</string>
	<key>PROJECT_ID</key>
	<string>antarmarg-8308e</string>
	<key>STORAGE_BUCKET</key>
	<string>antarmarg-8308e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097909567775:ios:105f68ec0989c18c46302a</string>
</dict>
</plist>